@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
}

<h1 class="text-danger">Something went wrong =(</h1>
<h2 class="text-danger">Please use the following phone number to make an order:</h2>
<h3>70675730795</h3>